:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

body, html {
    height: 100%;
    width: 100%;
}

.container * {
    border: solid 1px black;
}

.container {
    margin: 0 auto;
    height: 100%;
    min-width: 1000px;
    width: 80%;
    display: grid;
    grid-template-rows: 10% 40% 50%;
}

.logo-bar {
    display: grid;
    grid-template-columns: 10% 15% 15% 15%;
    text-align: center;
    color:blue;
    background-color: grey;
}


.middle-row {
    display: grid;
    grid-template-rows: 100%; 
    text-align: center;
    color:blue;
    background-color: grey;
}

.main { 
    border: solid 1px black;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: grey;

}

.bottom-boxes {
    border: solid 1px black;
    display: grid;
    grid-template-columns: 50% 50%;
}

.right-box {
    border: solid 1px black;
    display: grid;
    grid-template-columns: 25% 25%;
}

.Article {
    text-align: center;
    color: blue;

}